<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

    <title>Document</title>

    <link rel="stylesheet" href="http://127.0.0.1:5000/static/home/style.css">
</head>
<body>
    <h1>すべてのレポート</h1>
    <div id="all_reports">
        <ul>
            <a href="/subject-page?subject=1">
                <li id="report-item_1" class="report-item">
                    <p class="subject-title">論理国語</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
            <a href="/subject-page?subject=2">
                <li id="report-item_2" class="report-item">
                    <p class="subject-title">日本史探究</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
            <a href="/subject-page?subject=3">
                <li id="report-item_3" class="report-item">
                    <p class="subject-title">数学A</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
            <a href="/subject-page?subject=4">
                <li id="report-item_4" class="report-item">
                    <p class="subject-title">生物基礎</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
            <a href="/subject-page?subject=5">
                <li id="report-item_5" class="report-item">
                    <p class="subject-title">体育Ⅱ</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
            <a href="/subject-page?subject=6">
                <li id="report-item_6" class="report-item">
                    <p class="subject-title">保健</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
            <a href="/subject-page?subject=7">
                <li id="report-item_7" class="report-item">
                    <p class="subject-title">美術Ⅰ</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
            <a href="/subject-page?subject=8">
                <li id="report-item_8" class="report-item">
                    <p class="subject-title">論理・表現Ⅰ</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
            <a href="/subject-page?subject=9">
                <li id="report-item_9" class="report-item">
                    <p class="subject-title">家庭総合</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
            <a href="/subject-page?subject=10">
                <li id="report-item_10" class="report-item">
                    <p class="subject-title">総合的な探究の時間Ⅱ</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
            <a href="/subject-page?subject=11">
                <li id="report-item_11" class="report-item">
                    <p class="subject-title">特別活動Ⅱ</p>
                    <p class="not-worked">取り組んでいない課題があります</p>
                </li>
            </a>
        </ul>
    </div>

    <script src="http://127.0.0.1:5000/static/home/script.js"></script>
</body>
</html>